/* WhatsAppIcon.css */

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366; /* WhatsApp green color */
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.9s ease;
  }
  
  .whatsapp-icon:hover {
    background-color: #128c7e; /* Darker green color on hover */
    
    
  }
  
  .whatsapp-icon__logo {
    font-size: 30px;
  }
  