.slick-prev {
    color: black;
}
.slick-next {
    color: black;
}
.slick-prev :hover {
    color: black;
}
.slick-next :hover {
    color: black;

}
.card{
    transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}